server:
  port: 7001

spring:
  application:
    name: cloud-test-eureka-server-7001

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:7002/eureka/