server:
  port: 8081
spring:
  application:
    name: spring-cloud-test-provider-8081
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/db01?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: root
