server:
  port: 8083
spring:
  application:
    name: cloud-test-provider8083
logging:
  config: classpath:logback-spring-dev.xml
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:7001/eureka/,http://localhost:7002/eureka/