server:
  port: 7002

spring:
  application:
    name: cloud-test-eureka-server-7002

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:7001/eureka/